{% extends "base.html"%}
{% block head %}
{{ super() }}
<style>
  body {
    /* background: #f0f0f0; */
    background: rgb(2, 0, 36);
    background: linear-gradient(139deg, rgba(2, 0, 36, 1) 0%, rgba(6, 6, 92, 1) 81%, rgba(22, 39, 43, 1) 100%);
  }

  .container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 550px;
    max-width: 100%;
    /* border: 1px solid #111; */
    margin-top: 25px;
    min-height: 80vh;
  }

  .box {
    margin: 10px 20px;
    /* border: 1px solid red; */
    background: #fff;
    border-radius: 8px;
    max-width: 100%;
    box-shadow: 15px 20px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .header {
    background-color: blanchedalmond;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
  }

  .header h1,
  .header h2 {
    margin: 0;
  }

  .header h1 {
    font-size: 2rem;
  }

  .header h2 {
    font-size: 1.3rem;
  }

  form {
    padding: 30px 40px;
  }

  .my-form-control {
    margin-bottom: 8px;
    padding-bottom: 15px;
    position: relative;
  }

  .my-form-control label {
    display: inline-block;
    margin-bottom: 3px;
  }

  .my-form-control input[type="number"],
  .my-form-control input[type="file"] {
    border: 3px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 5px;
    font-size: 14px;
  }

  form button {
    width: 100%;
  }
</style>
{% endblock %}

{% block title%}MalariaAI{% endblock%}

{% block content%}
<div class="container">
  <div class="box">
    <div class="header">
      <h1>Hi {{session.Name}} !!</h1>
      <br>
      <h2>Upload the chemical smeared image of blood sample</h2>
    </div>
    <form action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
      <div class="my-form-control">
        <label>Age</label>
        <input type="number" id="age" name="age" placeholder="Enter your Age">
      </div>
      <div class="my-form-control">
        <label>Temperature(in Fahrenheit)</label>
        <input type="number" id="temperature" name="temperature" placeholder="Enter your Temperature level">
      </div>
      <div class="my-form-control">
        <label>Upload</label>
        <input type="file" id="file" name="file" placeholder="image" accept="image/png, image/gif, image/jpeg" required>
      </div>
      <button type="submit" class="btn btn-outline-dark">Predict</button>
    </form>

    <div class="mx-5" style="text-align: center;">
      {% if msg == "Result: INFECTED"%}
      <div class="msg alert alert-danger">
        <h2>{{ msg }}</h2>
      </div>
      {%elif msg == "Result: UNINFECTED"%}
      <div class="msg alert alert-success">
        <h2>{{ msg }}</h2>
      </div>
      {%else%}
      <div class="msg">
        <h2>{{ msg }}</h2>
      </div>
      {%endif%}
    </div>
  </div>
</div>

{% endblock %}